.topWrapper{
   background: #f9f9f9;
   padding: 20px 30px;
}
.topWrapperText{
   font-size: 20px;
   font-weight: 500;
}
.bottomText{
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.19;
}
.formWrapper{
   padding: 20px 30px;
}
.formDiv{
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
}
.formDiv label{
   color: #979797;
   font-size: 14px;
   font-weight: 300;
}
.formDiv input{
   border:none;
   padding: 0 10px 5px;
   color: #000;
   font-size: 16px;
   font-weight: 300;
}
.formDiv input:focus{
   outline: none;
}
.btnBlack{
   color: #fff;
   background: #000;
   width: 283px;
   height: 47px;
   font-size: 18px;
}