.home {
  background-color: #fff;
  min-height: 100vh;
}
.cardMain {
  overflow-y: auto;
}
.serviceLink {
  color: inherit !important;
  cursor: pointer;
}
.serviceLink:hover {
  text-decoration: none;
  color: inherit !important;
}
